@charset "UTF-8";

:root {
    --main-color: rgb(89, 141, 184);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(10, 10, 10);
}

header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: black;
    background-image: url("../images/universe.jpg");
    height: 550px;
}


#content-header {
    position: absolute;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(10, 10, 10, 1))
}

#content-header > img {
    margin-top: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

#content-header > #info > #name {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

#content-header > #info > #login {
    font-size: 18px;
}

#login > a {
    color: inherit;
    text-decoration: none;
}

#login:hover  {
    animation: change-color 1s  alternate;
    color: var(--main-color);
}



@keyframes change-color {
    0%   {color: inherit;}
    50%  {color: var(--main-color);}
  }


#content {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    background-color: rgb(10, 10, 10);
}

/* #content > hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dashed  blueviolet;
} */

#card-container {
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 20%;
    height: 150px;
    width: 200px;
    padding: 20px;
    /* border: 2px solid white; */
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
}

.card-title {
    font-weight: 700;
    border-bottom: 1px solid rgb(89, 141, 184);
    padding-top: 20px;
    height: 25px;
}

.card-body {
    margin-top: 20px;
    height: 70px;
    font-weight: 400;
    overflow: hidden;
}


.card-footer {
    flex-shrink: 0;
    background-color: rgb(89, 141, 184);
    height: 20px;


}

footer {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 50px;
}

@media(min-width: 1200px) {
    #content-header > img {
        margin-top: 150px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
    }
}