@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;;
}

header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: black;
    background-image: url("../images/universe.jpg");
    height: 550px;
}


#content-header {
    position: absolute;
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 98%)
}

#content-header > img {
    margin-top: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid whitesmoke;
}

#content-header > #info > #name {
    margin-top: 10px;
    font-size: 24px;
    text-transform: uppercase;
}

#content-header > #info > #login {
    font-size: 18px;
}

#content {
    height: 1000px;
    color: white;
    text-align: center;
    background-color: black;
}

#content > hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px dashed  whitesmoke;
}

#card-container {
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: 100px;
    width: 300px;
    /* padding: 20px; */
    border: 2px solid white;
}

.card-title {
    font-weight: 600;
    padding-top: 20px;
    height: 50px;
}

.card-body {
    padding-top: 5px;
    height: 30px;
    padding-bottom: 5px;
    font-weight: 600;
}


.card-footer {
    flex-shrink: 0;
    background-color: blueviolet;
    height: 20px;


}

@media(min-width: 1200px) {
    #content-header > img {
        margin-top: 150px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 2px solid whitesmoke;
    }
}