<!DOCTYPE html>
<html lang="pt-br">
<head>
	<!-- Primary Meta Tags -->
    <meta name="title" content="AntonioFelixJr">
    <meta name="description" content="AntonioFelixJr portifólio programdor web.">
    <meta name="robots" content="index,follow">

<!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://antoniofelixjr.github.io/">
    <meta property="og:title" content="AntonioFelixJr">
    <meta property="og:description" content="AntonioFelixJr portifólio programdor web.">
    <meta property="og:image" content="">

<!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://antoniofelixjr.github.io/">
    <meta property="twitter:title" content="AntonioFelixJr">
    <meta property="twitter:description" content="AntonioFelixJr portifólio programdor web.">
    <meta property="twitter:image" content="">
    <meta name="author" content="{{ site.data.git.name }} - {{ site.data.git.html_url }}"/>
    <title>{{ site.meta.title }}</title>
</head>
<body>
    {{ content }}
</body>
